
<div ng-include="'components/navbar/navbar.html'"></div>

<img src="assets/images/puppies.jpg">

<hr>
<div class="container">
    <ul class="list-group">
        <li class="list-group-item">

            <form ng-submit="main.addData()">
                <input ng-model="main.textField" type="text" size="50" placeholder="Add your Pet's name!">
                <input ng-model="main.weightField" type="text" size="50" placeholder="Add Your Pet's weight!">
                <input type="submit" value="submit" class="btn btn-primary">
                <span class="floatRight"># Pets in your List: {{main.itemsInList()}}</span>
            </form>


            <div class="text-center">Most Heavy Pet: {{main.heavy.text}}, Weight: {{main.heavy.weight}}</div>

        </li>
        <li class="list-group-item" ng-repeat="test in main.data">Pet's Name: {{test.text}} | Pet's Weight: {{test.weight}}<span class="glyphicon glyphicon-trash floatRight" style="color: red" ng-click="main.removeData($index)"></span></li>

    </ul>
</div>
